/* Import Inter FIRST */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* Import Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode */
:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Brand color variable */
  --color-brand: #914FA8;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global Typography */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}

/* .justify-end {
    justify-content: flex-start;
} */
